:root {
  --heading-font-family: "Playfair Display", sans-serif;
  --main-background-color--: #d8cfaf;
  --secondary-background-color--: #e6b89c;
  --highlight-color--: #ed9390;
  --heading-color--: #32533d;
  --accent-color--: #f374ae;
}

body {
  padding-top: 70px;
  background-color: var(--main-background-color--);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color--);
  font-family: var(--heading-font-family);
}

.hero {
  padding: 100px 20px 80px 50px;
}

.hero h1 {
  font-weight: 700;
  font-size: 96px;
}

.hero h2 {
  color: var(--accent-color--);
  font-family: "Poppins", sans-serif;
}

.scroll-down {
  text-decoration: none;
  color: #32533d;
  font-size: 80px;
}

.intro-section {
  background-color: var(--secondary-background-color--);
  padding: 30px;
}

.intro-section h2 {
  font-size: 48px;
  font-weight: 700;
}

p {
  font-size: 28px;
  line-height: 1.5;
  font-family: "Be Vietnam Pro", sans-serif;
}

.intro-section-right {
  text-align: right;
}
.intro-image {
  border: 1px solid var(--heading-color--);
  box-shadow: 10px 10px 22px -6px rgba(50, 83, 61, 0.7);
  border-radius: 50%;
  width: 60%;
}

.icons {
  font-size: 48px;
}

.html-icon {
  color: var(--highlight-color--);
}

.css-icon {
  color: var(--accent-color--);
}

.js-icon {
  color: var(--heading-color--);
}

.bootstrap-icon {
  color: var(--main-background-color--);
}
